body,html,div,span,h1,h2,h3,h4,h5,h6,p,ul,ol,li,blockquote,form,input {
margin:0;
padding:0;
border:0
}

img {
border:none;
outline:none
max-width:100%;
}

ul,ol {
list-style:none
}

table,tr,td {
max-width:100%
}

td ul li {
list-style-type:disc;
margin:0;
padding:0
}

html {
height: 100%;
background-color: #8C959F;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%
}


body {
min-height: 100%;
margin:0 auto;
display:block;
background: #efefef;
font-family: helvetica, verdana, arial, sans-serif;
font-style:normal;
color:#333;
font-size:16px;
line-height:150%;
width:300px;
max-width:100%;
}



.name-home
{margin: 0 auto;
display: block;
font-size: 20px;
color:#9199A4;
text-align: center;
line-height: 160%;
background: #000;
padding-bottom: 10px;}

.name-home:first-line
	{margin: 0 auto;
display: block;
font-family: georgia, times, serif;
font-size: 48px; color:#9199A4; 
text-align: center;
text-transform: capitalize;
line-height: 180%;
background: #000;}


.nav-home
	{ background-image: url("../images/home-vertical-min.jpg");
background-repeat: no-repeat;
background-position: 20px 20px;
margin: 0 auto; 
display: block; 
color: #ccc; 
padding-top: 11px; 
padding-bottom:20px;

}

.nav-home a
{ padding: 4px; 
max-width: 300px;
margin: 0 auto; 
display: block;
font-variant: small-caps; 
font-family: helvetica, verdana, arial, sans-serif; 
font-size: 22px; 
line-height:47px;
padding-left: 95px;}


.footnote{
margin: 0 auto;
display: block;
font-size: 14px;
padding-bottom:20px;
max-width: 280px;
text-align: center;
}

.footnote a { text-decoration: none; color: #9199A4; }
.footnote a:link { color: #9199A4;  }
.footnote a:visited { color: #9199A4; }
.footnote a:active { color: #9199A4;  }
.footnote a:hover { color: #333;  }


              
a { text-decoration: none; color: #333; }
a:link { color: #333;  }
a:visited { color: #333; }
a:active { color: #333;  }
a:hover { color: #9199A4;  }